<div class="pure-g">
  <div class="pure-u-1-2"><p>あなた:<%= @name %></p><img src=<%= @pic_url %> height='200px'></div>
  <div class="pure-u-1-2"><p>お相手:<%= @partner_name %></p><img src=<%= @partner_pic_url %> height='200px'></div>
</div>
<p>総合的な相性</p>
47,800点<br>
「河童の川流れ」ということばがぴったりの二人。

<p>あなたの性格</p>
オモシロコンテンツ<%= @pic_url %>

<p>お相手の性格</p>
オモシロコンテンツ
