<!DOCTYPE html>
<html>
<head>
  <title>RidiF</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "icono_min", :media => "all", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <div class="pure-g">
      <div class="pure-u-1-1">
        <%= render 'layouts/header' %>
      </div>
    </div>

    <div class="pure-g">
      <div class="pure-u-1-6">
        <img src='https://type.jp/s/nenshu_camp/images/type_11.jpg' width = '150px'>
      </div>

      <div class="pure-u-3-5">
        <%= yield %>
      </div>

      <div class="pure-u-1-5">
        <img src='https://type.jp/s/nenshu_camp/images/type_11.jpg' width = '150px'>
      </div>
    </div>

    <div class="pure-g">
      <div class="pure-u-1-1">
        <%= render 'layouts/footer' %>
      </div>
    </div>

  </div>
</body>
</html>
